<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="microsoft.aspnet.razor" version="2.0.20505" targetFramework="net45" />
  <package id="microsoft.aspnet.webpages" version="2.0.20505" targetFramework="net45" />
  <package id="microsoft.aspnet.webpages.data" version="2.0.20505" targetFramework="net45" />
  <package id="microsoft.aspnet.webpages.webdata" version="2.0.20505" targetFramework="net45" />
  <package id="microsoft.web.infrastructure" version="1.0.0" targetFramework="net45" />
  <package id="microsoft-web-helpers" version="2.1.20710.2" targetFramework="net45" />
</packages>