<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<httpHandlers>
      <add path="LoginHandler.ashx" verb="*" type="task1.BusinessLogic.LoginHandlerHandler" />
      <add path="RegisterHandler.ashx" verb="*" type="task1.BusinessLogic.RegisterHandler" />
      <add path="JsonAsyncHandler.axd" verb="*" type="task1.BusinessLogic.JsonAsyncHandler" />
     <add path="JsonHandler.ashx" verb="*" type="task1.BusinessLogic.JsonHandler" />
      <add path="CheckCookies.ashx" verb="*" type="task1.BusinessLogic.CheckCookies" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <modules>
    <add name="AuthModule" type="task1.AuthModule"/>
  </modules>
    <handlers>
      <add name="LoginHandler" path="LoginHandler.ashx" preCondition="integratedMode" verb="*" type="task1.LoginHandler" />
      <add name="RegisterHandler" path="RegisterHandler.ashx" preCondition="integratedMode" verb="*" type="task1.RegisterHandler" />
      <add name="JsonAsyncHandler" path="JsonAsyncHandler.axd" preCondition="integratedMode" verb="*" type="task1.JsonAsyncHandler" />
      <add name="JsonHandler" path="JsonHandler.ashx" preCondition="integratedMode" verb="*" type="task1.JsonHandler" />
     <add name="CheckCookies" path="CheckCookies.ashx" preCondition="integratedMode" verb="*" type="task1.CheckCookies" />
      </handlers>
    </system.webServer> 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EntityModel" connectionString="data source=(LocalDB)\v11.0;initial catalog=Users;integrated security=True;pooling=False;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>